html {
  font-size: 625%;
  -webkit-text-size-adjust: none;
  max-height: 100%;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix {
  content: '';
  clear: both;
  display: table;
}

.navbar-custom {
  position: absolute;
  top: 0;
}

.carousel .banner-img {
  width: 100%;
  height: 3.5rem;
  background: url(../images/home-bg.jpg) center no-repeat;
  background-size: cover;
}

.carousel .banner-img1 {
  height: 4rem;
  background: url(../images/home-bgs.jpg) center no-repeat;
}

.carousel .banner-img2 {
  background: url(../images/about.jpg) center no-repeat;
}

.carousel .ca-size {
  max-width: 400px;
  padding: 15px 0;
  font-family: monospace;
  font-size: 50px;
  margin: 0 auto;
}

.carousel .ca-size.ca-sizes {
  max-width: 750px;
  padding-top: 20px;
}

.carousel .ca-size.ca-sizes .post-preview {
  text-align: left;
}

.carousel .ca-size.ca-sizes .post-preview a:hover {
  list-style: none;
  text-decoration: none;
}

.carousel .ca-size.ca-sizes .post-preview .tags {
  width: 100%;
  max-width: 100%;
}

.carousel .ca-size.ca-sizes .post-preview .tags a {
  display: inline-block;
  color: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 998em;
  line-height: 24px;
  font-size: 0.12rem;
  padding: 0 10px;
  margin: 5px -5px 0;
}

.carousel .ca-size.ca-sizes .post-preview .tags a:nth-child(1) {
  text-transform: uppercase;
}

.carousel .ca-size.ca-sizes .post-preview .post-title {
  color: #040404;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
  color: #fff;
  font-size: 0.45rem;
  margin-top: 0;
  margin-bottom: 0.15rem;
}

.carousel .ca-size.ca-sizes .post-preview .post-subtitle {
  color: #040404;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 10px;
  color: #fff;
  font-size: 0.26rem;
  margin-bottom: 0.15rem;
}

.carousel .ca-size.ca-sizes .post-preview .post-meta {
  color: #ccc;
  font-family: Lora,'Times New Roman',serif;
  font-style: italic;
  color: #fff;
  font-size: 0.2rem;
  margin-top: 10px;
}

.carousel h3 {
  font-size: 0.23rem;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}

#contents .post-preview a:hover {
  list-style: none;
  text-decoration: none;
}

#contents .post-preview .post-title {
  color: #040404;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
  font-size: 0.22rem;
}

#contents .post-preview .post-title:hover {
  color: #0085a1;
}

#contents .post-preview .post-subtitle {
  color: #040404;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 10px;
  font-size: 0.13rem;
}

#contents .post-preview .post-subtitle:hover {
  color: #0085a1;
}

#contents .post-preview .post-content-preview {
  color: #a3a3a3;
  font-style: italic;
  font-size: 0.12rem;
}

#contents .post-preview .post-content-preview:hover {
  color: #0085a1;
}

#contents .post-preview .post-meta {
  color: #ccc;
  font-family: Lora,'Times New Roman',serif;
  font-style: italic;
  font-size: 0.16rem;
  margin-top: 10px;
}

#contents .post-preview hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

#contents .pager {
  margin: 40px 0 40px !important;
  padding: 0 !important;
}

#contents .pager a {
  font-size: 0.12rem;
  color: #040404;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  transition: 0.4s all ease;
}

#contents .pager a:hover {
  list-style: none;
  text-decoration: none;
  color: #fff;
  background-color: #0085a1;
  transition: 0.4s all ease;
}

#contents .pa-h5 {
  color: #ccc;
}

#contents .pa-h5 h5 {
  margin-top: 20px;
}

#contents .pa-h5 a {
  color: #ccc;
}

#contents .pa-h5 a:hover {
  list-style: none;
  text-decoration: none;
  color: #0085a1;
}

#contents .pa-h5 .tags {
  width: 100%;
  max-width: 100%;
}

#contents .pa-h5 .tags a {
  display: inline-block;
  border: 1px solid #bfbfbf;
  border-radius: 998em;
  line-height: 24px;
  font-size: 0.11rem;
  padding: 0 10px;
  margin: 5px 5px 0;
}

#contents .pa-h5 .tags a:hover {
  border: 1px solid #0085a1;
}

#contents .pa-h5 .tags img {
  width: 80%;
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;
}

#contents .pa-h5 .tags .list-inline a {
  border: none;
  margin-left: 0;
  padding-left: 0;
}

#contents .pa-h5 .tags .list-inline a:hover {
  text-decoration: underline;
}

#contents .pa-h5 .tags .list-inline.list-inlines li {
  margin: 10px 5px 0;
  width: 0.25rem;
  height: 0.25rem;
  line-height: 0.25rem;
  background-color: #ccc;
  display: inline-block;
  border-radius: 50%;
}

#contents .pa-h5 .tags .list-inline.list-inlines li a {
  line-height: 0;
  margin: 0;
  padding-left: 3px;
}

#contents .pa-h5 .tags .list-inline.list-inlines li .fa-stack .fa-i {
  color: #fff;
  line-height: inherit;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

#contents .pa-h5 .tags .list-inline.list-inlines li:hover {
  background-color: #0085a1;
  opacity: 0.9;
}

#contents .pa-h5 hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.footer {
  margin: 80px 0 40px;
}

.footer .list-inline li {
  margin: 20px 10px;
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: #040404;
  display: inline-block;
  border-radius: 50%;
}

.footer .list-inline li .fa-stack .fa-i {
  color: #fff;
  line-height: inherit;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.footer .list-inline li:hover {
  background-color: #0085a1;
  opacity: 0.9;
}

.footer .list-inline li .fa-i {
  font-size: 0.2rem;
}

#contents .post-block blockquote {
  color: gray;
  font-style: italic;
  font-size: 0.13rem;
  margin: 20px 0 20px;
  padding: 10px 20px;
  border-left: 5px solid #ccc;
}

#contents .post-block h1 {
  font-size: 0.3rem;
  font-weight: 700;
}

#contents .post-block h1 a {
  opacity: 1;
  margin-left: -0.775em;
  color: #0085a1;
  position: absolute;
  padding-top: 1px;
  cursor: pointer;
}

#contents .post-block h1 a:after {
  content: attr(data-anchorjs-icon);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#contents .post-block span p {
  margin: 30px 0;
}

#contents .post-block .table-responsives {
  overflow-x: auto;
}

#contents .post-block .table-responsives table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

#contents .post-block .table-responsives table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #eee;
  border-top: 0;
}

#contents .post-block .table-responsives table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #eee;
}

#contents .post-block hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

#contents .wid-div img {
  width: 10%;
  height: 2%;
  text-align: center;
}

#contents .wid-div span {
  padding-top: 40px;
}

#contents .pagers a {
  width: 3rem;
  display: block;
}

#contents .pagers a:hover {
  transition: 0.4s all ease;
}

#contents .pagers a:hover span {
  color: #fff;
}

#contents .pagers a span {
  font-weight: 400;
  color: #ccc;
  display: block;
}

.post-container blockquote {
  color: gray;
  font-style: italic;
  font-size: 0.13rem;
  margin: 20px 0 20px;
  padding: 10px 20px;
  border-left: 5px solid #ccc;
}

.post-container h1 {
  font-size: 0.3rem;
  font-weight: 700;
}

.post-container h1 a {
  opacity: 1;
  margin-left: -0.775em;
  color: #0085a1;
  position: absolute;
  padding-top: 1px;
  cursor: pointer;
}

.post-container h1 a:after {
  content: attr(data-anchorjs-icon);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post-container span p {
  margin: 30px 0;
}

.post-container .tags {
  width: 100%;
  max-width: 100%;
}

.post-container .tags a {
  display: inline-block;
  border: 1px solid #bfbfbf;
  border-radius: 0em;
  line-height: 24px;
  font-size: 0.11rem;
  padding: 0 10px;
  margin: 15px 5px 0;
}

.post-container .tags a:hover {
  list-style: none;
  text-decoration: none;
  border: 1px solid #0085a1;
}

#contents .pa-h5 .tags img.imges1 {
  width: 40%;
  height: 40%;
}

@media (max-width: 992px) {
  #contents .pa-h5 .tags img.imges1 {
    width: 20%;
  }
}
